/*all website content*/
body{
    margin:0 auto;                  /*website fills page*/ 
    font-family: 'Unbounded';       /*apply font*/
    background-color: black;       
}

/*navigation bar*/
.navigator{    
    height: 9vh;                    /*total height of navigation bar*/
    background-color: black;     
    font-size: 11px;

    /*navigation bar: table of elements*/ 
    table{
        height: 9vh;                 /* table height takes us whole navigation space*/ 
        table-layout: fixed;         /* do not allow table boxes to change size according to content*/ 
        vertical-align: center;      /* elements vertically center */ 
        text-align: center;          /* elements horizontally center in each of their respective box */ 
        width: 100%;                 /*table takes up whole horizontal space*/
    }
    
    /*navigation bar: logo*/ 
    img{
        width: 4vh;                 /*logo sized to navigation bar*/
        border-radius: 100%;        /*logo rounded edge*/ 
    }

    /*navigation bar: <a> tag elements - hyperlinks*/ 
    a{
        text-decoration: none;      /*no text decor (eg. underline for hyperlinks)*/
        color: white;
    }
}

/*title page*/ 
.topic1{
    height: 95vh;                    /*total height of first section*/
    width: 100%;                     /*section takes up whole horizontal space on screen*/
    text-align: center;              /* text appears horizontally in the center*/
    display: inline-block;           /* text inline on screen and acts as a block for padding*/ 

    color: white;                    /*white text*/ 
    padding-top: 11vh;               /* top padding away from navigation*/ 

    /* will uncomment this section when the background gif is uploaded
    background-image: url(background1.gif);  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

.text2{
    font-size: 8vw;    
    line-height: 1.2;    /*spacing of this text to the next line*/ 
}

.text1{
    font-size: 3vw;
    line-height: 0.5;     /*spacing of this text to the next line*/ 
}



