/********************************* all website content defaults ********************************/
body{
    /* website fills page */ 
    margin: 0 auto;             

    /* default font type */ 
    font-family: 'Rethink Sans';     
    color: black;        
}

/***************************** adjustments based on size of device ********************************/
/*   adjustments for smaller devices (width: 0-799px):
         - font size increases
         - padding decreases
         - images enlarge            
*/
@media only screen and (min-width:0px){ 

    .bar{ font-size: 10px; }    /* navigation and end cap font */ 
   
}

/*   adjustments for larger devices (width: >800px):
         - font size decreases
         - padding increases
         - images shrink            
*/
@media only screen and (min-width:800px){  

    .bar{ font-size: 1.8vh; }    /* navigation and end cap font */ 
    
}

/***************************** adjustments based on size of device ********************************/

/*navigation bar and end cap for all pages*/
.bar{    

    /* table defaults*/ 
    table{
        height: 100%;                /* table stretches vertically to fit given space of div */ 
        width: 100%;                 /* table takes up whole horizontal space */

        table-layout: fixed;         /* do not allow table boxes to change size according to text within*/ 
        vertical-align: center;      /* elements vertically center */ 
        text-align: center;          /* elements horizontally centred in each of their respective box */ 
    }     
   
    /* height is 8% of screen height */ 
    height: 8vh;     

    /* background for header */ 
    background-image: url('header.png');   
    background-position: center;
    background-size: cover;
    
    /* logo sizing */ 
    img{
        height: 5vh;                /* logo sized to slightly larger than half of navigation bar */
    }
    
    /* text/links */ 
    a{
        color: white;
        text-decoration: none;  /* remove underlines */
    }

    /* general text also white */ 
    color: white;
}
