/*all website content*/
body{
    margin:0 auto;                  /*website fills page*/ 
    font-family: 'Work Sans';       /*apply font*/
}

/*navigation bar*/
.navigator{
    padding-left: 10vw;             /*padding left and right*/  
    padding-right: 10vw;       
    height: 9vh;                    /*total height of navigation bar*/
    background-color: black;     

    /*navigation bar: table of elements*/ 
    table{
        height: 9vh;                 /* table height takes us whole navigation space*/ 
        table-layout: fixed;         /* do not allow table boxes to change size according to content*/ 
        vertical-align: center;      /* elements vertically center */ 
        text-align: center;          /* elements horizontally center in each of their respective box */ 
        width: 100%;                 /*table takes up whole horizontal space*/
    }
    
    /*navigation bar: logo*/ 
    img{
        width: 4vh;                 /*logo sized to navigation bar*/
        border-radius: 100%;        /*logo rounded edge*/ 
    }

    /*navigation bar: <a> tag elements - hyperlinks*/ 
    a{
        text-decoration: none;      /*no text decor (eg. underline for hyperlinks)*/
        color: white;
    }
}
